<div class="converter">
  <div class="converter__body">
    <app-header [rates]="rates"/>
    <main class="converter__fields">
      <currency-input
        label="Amount"
        [disabled]="isLoading"
        [(value)]="valueFrom"
        (valueChange)="changeValueFrom($event)"
        [selectedCurrency]="currencyFrom"
        (selectedCurrencyChange)="changeCurrencyFrom($event)"
      />
      <div class="converter__line"></div>
      <currency-input
        label="Converted Amount"
        [disabled]="isLoading"
        [(value)]="valueTo"
        (valueChange)="changeValueTo($event)"
        [selectedCurrency]="currencyTo"
        (selectedCurrencyChange)="changeCurrencyTo($event)"
      />
    </main>
  </div>
</div>
